<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tittleKey</key>
		<string>What is PCR?</string>
		<key>imageKey</key>
		<string>1.png</string>
		<key>contentKey</key>
		<string>Now that we know how living system replicate genetic material( DNA), let us examine a very powerful technology that uses this knowledge - PCR.

PCR, or polymerase chain reaction, is a reaction using the enzyme DNA polymerase to amplify( replicate) DNA into many copies in a microfuge tube( small test tube).

PCR is avery powerful method for making( replicating) many copies of DNA( millions and billions) outside the cell.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>What is PCR?</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>Now that we know how living system replicate genetic material( DNA), let us examine a very powerful technology that uses this knowledge - PCR.

PCR, or polymerase chain reaction, is a reaction using the enzyme DNA polymerase to amplify( replicate) DNA into many copies in a microfuge tube( small test tube).

PCR is avery powerful method for making( replicating) many copies of DNA( millions and billions) outside the cell.

Why do we think it would useful to make many copies of DNA?</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>What is PCR?</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>Now that we know how living system replicate genetic material( DNA), let us examine a very powerful technology that uses this knowledge - PCR.

PCR, or polymerase chain reaction, is a reaction using the enzyme DNA polymerase to amplify( replicate) DNA into many copies in a microfuge tube( small test tube).

PCR is avery powerful method for making( replicating) many copies of DNA( millions and billions) outside the cell.

Why do we think it would useful to make many copies of DNA?

Most of the time the DNA we want to study is present in very small amounts( for example, in small pieces of hair to skin, or drops of blood at a crime scene).  </string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>What is PCR?</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>Now that we know how living system replicate genetic material( DNA), let us examine a very powerful technology that uses this knowledge - PCR.

PCR, or polymerase chain reaction, is a reaction using the enzyme DNA polymerase to amplify( replicate) DNA into many copies in a microfuge tube( small test tube).

PCR is avery powerful method for making( replicating) many copies of DNA( millions and billions) outside the cell.

Why do we think it would useful to make many copies of DNA?

Most of the time the DNA we want to study is present in very small amounts( for example, in small pieces of hair to skin, or drops of blood at a crime scene).  

If we could make many copies of DNA, then we would have enough material to test and study for a variety of purposes with applications in medicine, agriculture, forensics and environment. </string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>What is PCR?</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>Now that we know how living system replicate genetic material( DNA), let us examine a very powerful technology that uses this knowledge - PCR.

PCR, or polymerase chain reaction, is a reaction using the enzyme DNA polymerase to amplify( replicate) DNA into many copies in a microfuge tube( small test tube).

PCR is avery powerful method for making( replicating) many copies of DNA( millions and billions) outside the cell.

Why do we think it would useful to make many copies of DNA?

Most of the time the DNA we want to study is present in very small amounts( for example, in small pieces of hair to skin, or drops of blood at a crime scene).  

If we could make many copies of DNA, then we would have enough material to test and study for a variety of purposes with applications in medicine, agriculture, forensics and environment. 

In this study, we will see how PCR can help us detect E. coli( the common bacteria in beach water) DNA for tracking the source of the bacteria contamination. </string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>How PCR works</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string></string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>How PCR works</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>Suppose we want to make many copies of the DNA segment below.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>How PCR works</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>Suppose we want to make many copies of the DNA segment below.

In DNA replication, the helices enzyme would first unwind the double helix.</string>
	</dict>
	<dict>
		<key>tittlekey</key>
		<string>How PCR works</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>Suppose we want to make many copies of the DNA segment below.

In DNA replication, the helices enzyme would first unwind the double helix.

In PCR, we use heat to break the hydrogen bonds between the bases and separate the DNA strands.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>How PCR works</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>Suppose we want to make many copies of the DNA segment below.

In DNA replication, the helices enzyme would first unwind the double helix.

In PCR, we use heat to break the hydrogen bonds between the bases and separate the DNA strands.

* Click the thermostat to increase the temperature to 94C.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>How PCR works ( cont.)</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string></string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>How PCR works ( cont.)
How PCR works ( cont.)
</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>In DNA replication, after the strands separate, RNA primes then generates RNA primers to initiate DNA synthesis. </string>
	</dict>
	<dict>
		<key>tittlekey</key>
		<string>How PCR works ( cont.)
</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>In DNA replication, after the strands separate, RNA primes then generates RNA primers to initiate DNA synthesis. 

In PCR we need to add our own primers.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>How PCR works ( cont.)</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>In DNA replication, after the strands separate, RNA primes then generates RNA primers to initiate DNA synthesis. 

In PCR we need to add our own primers.

Since DNA synthesis always proceeds in the 5&apos; to 3&apos; direction, the two primers must be complementary to the flashing bases.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>How PCR works ( cont.)</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>In DNA replication, after the strands separate, RNA primes then generates RNA primers to initiate DNA synthesis. 

In PCR we need to add our own primers.

Since DNA synthesis always proceeds in the 5&apos; to 3&apos; direction, the two primers must be complementary to the flashing bases.

* Lower the temperature to 55C and drag primers to their complementary bases( previously flashing) on the two strands so that the primers will anneal.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>How PCR works ( cont.)
</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string></string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>How PCR works ( cont.)
</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>In DNA replication, DNA polymerase then extends the primers in the 5&apos; to 3&apos; direction.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>How PCR works ( cont.)
</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>In DNA replication, DNA polymerase then extends the primers in the 5&apos; to 3&apos; direction.

In PCR, we use the enzyme Tag polymerase, a special enzyme which is not sensitive to high temperatures, to extend the primers at 72 C. </string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>How PCR works ( cont.)</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>In DNA replication, DNA polymerase then extends the primers in the 5&apos; to 3&apos; direction.

In PCR, we use the enzyme Tag polymerase, a special enzyme which is not sensitive to high temperatures, to extend the primers at 72 C. 

* Raise the temperature to 72C and drag the Tag polymerase to the 2 primers.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>Note that we now have 2 duplexes. </string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string></string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>Note that we now have 2 duplexes. </string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>* To run the second cycle, increase the temperature to 94C again.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>Note that we now have 2 duplexes. </string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>The two duplexes are now separated into 4 single stranded templates. The upper 2 templates were from one duplex, and the lower 2 templates were from the other duplex.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>Note that we now have 2 duplexes. </string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>* Click next to see primers go to their complementary bases on the four strands and at the temperature of 55C.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>Note that we now have 2 duplexes. </string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>At the second cycle, Tag polymerases attach to the 4 primers and are ready to start synthesis at 55C.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>Now 4 duplexes are formed.</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string></string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>Now 4 duplexes are formed.</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>Clearly, if we go through the cycle again, then we will make 8 duplexes.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string></string>
		<key>imagekey</key>
		<string></string>
		<key>contentKey</key>
		<string>If     2 duplexes are formed after 1 cycle ( 2 to the 1).</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string></string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>If     2 duplexes are formed after 1 cycle ( 2 to the 1).
      
       4 duplexes are formed after 2 cycle ( 2 to the 2).</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string></string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>If     2 duplexes are formed after 1 cycle ( 2 to the 1).
      
       4 duplexes are formed after 2 cycle ( 2 to the 2).

       8 duplexes are formed after 3 cycle ( 2 to the 3). </string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string></string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>If     2 duplexes are formed after 1 cycle ( 2 to the 1).
      
       4 duplexes are formed after 2 cycle ( 2 to the 2).

       8 duplexes are formed after 3 cycle ( 2 to the 3). 

Then    2 to the n duplexes will be formed after n cycles.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string></string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>If     2 duplexes are formed after 1 cycle ( 2 to the 1).
      
       4 duplexes are formed after 2 cycle ( 2 to the 2).

       8 duplexes are formed after 3 cycle ( 2 to the 3). 

Then    2 to the n duplexes will be formed after n cycles.

		
		If we complete 20 cycles, the 2 to the 20 = 1,048,576 duplexes will be formed - that&apos;s over a million copies.

		This is a rough estimate of the number of copies amplified at the end of each PCR cycle. A more accurate estimation will be shown in module 9.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>When PCR is performed in the laboratory. The components needed for replication are:</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string></string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>When PCR is performed in the laboratory. The components needed for replication are:</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>DNA segment</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>When PCR is performed in the laboratory. The components needed for replication are:
</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>	DNA segment

	Primers</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>When PCR is performed in the laboratory. The components needed for replication are:</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>DNA segment

	Primers
	
	Tag polymerase</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>When PCR is performed in the laboratory. The components needed for replication are:</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>DNA segment

	Primers
	
	Tag polymerase

	and DNA bases ( A, C, G, T)</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>When PCR is performed in the laboratory. The components needed for replication are:
</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>	DNA segment

	Primers
	
	Tag polymerase

	and DNA bases ( A, C, G, T)
  
are all together in a tube.</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>When PCR is performed in the laboratory. The components needed for replication are:</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>	DNA segment

	Primers
	
	Tag polymerase

	and DNA bases ( A, C, G, T)
  
are all together in a tube.

The tube is then placed in a machine called a thermocycler, which increases and decreases the temperature automatically( from 95 to 55 to 72).</string>
	</dict>
	<dict>
		<key>tittleKey</key>
		<string>When PCR is performed in the laboratory. The components needed for replication are:
</string>
		<key>imageKey</key>
		<string></string>
		<key>contentKey</key>
		<string>	DNA segment

	Primers
	
	Tag polymerase

	and DNA bases ( A, C, G, T)
  
are all together in a tube.

The tube is then placed in a machine called a thermocycler, which increases and decreases the temperature automatically( from 95 to 55 to 72).


After entering the desired number of cycles in the thermocycler, the thermocycler will increase and decrease the temperature the desired number of times - generating the desired number of DNA copies.</string>
	</dict>
</array>
</plist>
